# Ignores
\.DS_Store
\.classpath
\.project
\.settings
\.metadata/
Servers/
target/
.idea
.vagrant
.vscode
*.deb
.env
.venv
node_modules/
src/**/*.log
dist/
google-serviceaccount.json
yarn-error.log
.api/
package-lock.json
package.json
_out/
.spectral_*.yaml
report.*
.cache/