**/tmp
**/_tmp
**/temp
**/_temp
**/tempo
**/_tempo

/target*
/temp
/keys
/crs
/tls
.vscode/launch.json
.DS_Store
.vscode/
.idea/
*.eif
.crates.toml
.crates2.json
*terraform.lock.hcl
*terraform.tfstate
*tool-versions
.last_height
.wallet
.cargo/advisory-db
.cargo/advisory-db..lock
kms-core.sublime-project
kms-core.sublime-workspace
/artifacts
**/logs/*.log.*
.idea/

megalinter-reports/
