##### Rust

## Ignore binaries (without extension)
# Ignore all
*
# Unignore all with extensions
!*.*
# Unignore all dirs
!*/

# Will have compiled files and executables
debug/
target/
Cargo.lock
# MSVC Windows builds of rustc generate these, which store debugging info
*.pdb
