---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: sec-reports-viewer
  labels:
    app: sec-reports-viewer
spec:
  replicas: 1
  selector:
    matchLabels:
      app: sec-reports-viewer
  template:
    metadata:
      labels:
        app: sec-reports-viewer
    spec:
      affinity:
        podAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchLabels:
                  app: zap-scan
              topologyKey: kubernetes.io/hostname
      containers:
        - name: nginx
          image: nginx:1.28.0-alpine3.21-slim
          ports:
            - name: http
              containerPort: 8011   ## changed from 80 to 8011
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /healthz
              port: http
          readinessProbe:
            httpGet:
              path: /healthz
              port: http
          # lifecycle:
          #   postStart:
          #     exec:
          #       command:
          #         - sh
          #         - -c
          #         - >
          #           mkdir -p /usr/share/nginx/html/sec-reports/zap &&
          #           mkdir -p /usr/share/nginx/html/sec-reports/trivy &&
          #           mkdir -p /usr/share/nginx/html/sec-reports/trivy-op &&
          #           mkdir -p /usr/share/nginx/html/sec-reports/falco
          volumeMounts:
            - name: report-viewer-cm-nginx
              mountPath: /etc/nginx/conf.d/default.conf
              subPath: nginx-conf
            - name: report-viewer-cm-nginx
              mountPath: /usr/share/nginx/html/index.html
              subPath: nginx-index-html
            - name: report-viewer-cm-nginx
              mountPath: /usr/share/nginx/html/zap-logo.png
              subPath: zap-logo-png-b64

            - name: sec-reports-vol
              mountPath: /usr/share/nginx/html/sec-reports/
      volumes:
        - name: report-viewer-cm-nginx
          configMap:
            name: sec-reports-viewer-cm

        - name: sec-reports-vol
          persistentVolumeClaim:
            claimName: sec-reports-pvc
---
apiVersion: v1
kind: Service
metadata:
  name: sec-reports-viewer-svc
  labels:
    app: sec-reports-viewer
spec:
  type: ClusterIP
  internalTrafficPolicy: Cluster
  selector:
    app: sec-reports-viewer
  ports:
    - name: http
      port: 8011    ## changed from 80 to 8011
      protocol: TCP
      targetPort: http
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: sec-reports-viewer-ing-nginx
  labels:
    app: sec-reports-viewer
  # annotations:
  #   nginx.ingress.kubernetes.io/backend-protocol: HTTPS 
spec:
  ingressClassName: nginx
  rules:
    - host: sec-reports-viewer.tawa.local
      http:
        paths:
          - backend:
              service:
                name: sec-reports-viewer-svc
                port:
                  name: http
            path: /
            pathType: ImplementationSpecific
  tls:
    - hosts:
      - sec-reports-viewer.tawa.local
---
# kubectl -n dast apply -f sec-reports-viewer-configmap.yaml
# kubectl -n dast apply -f sec-reports-viewer-deployment.yaml
# kubectl exec -it -n dast deployment.apps/sec-reports-viewer -- sh
# $ ls -la /usr/share/nginx/html/sec-reports/
# $ cat /etc/nginx/conf.d/default.conf